@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/RobotoCondensed-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Zig";
    src: url("../fonts/Zig/Zig.ttf");
    font-weight: normal;
    font-style: normal;
}

/* simple webkit scrollbar solution received from https://css-tricks.com/custom-scrollbars-in-webkit/ (04.12.2017, 15:30 Uhr) */
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

h2 {
    margin: 0;
    padding: 0;
}

#exercise, #paper {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 12pt;
    overflow-y: scroll;
}

#computer {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 14pt;
    font-family: 'Zig';
    background-color: #000000;
    color: greenyellow;
    overflow-y: scroll;
}

.computer_explanation {
    margin-bottom: 30px;
    padding-top: 10px;
}

.computer_question {
    float: left;
    margin-right: 20px;
}

.computer_binary {
    width: 35px;
    float: left;
    cursor: pointer;
    text-align: center;
}

.computer_digit {
    margin-bottom: 10px;
    border: 1px solid greenyellow;
    height: 20px;
}

.computer_number {
    font-size: 10pt;
}

#computer_result {
    margin-left: 10px;
}

#computer_back_button {
    float: right;
    margin: 10px;
    cursor: pointer;
}

.computer_digit_container {
    margin-top: 80px;
}

#computer_hack {
    border: 1px solid greenyellow;
    margin-left: 50px;
    width: 100px;
}

#computer_0x {
    margin-right: 10px;
}

#computer_secret {
    margin-top: 150px;
}

.test_text {
    margin-left: 20px;
}

.test_input {
    height: 30px;
    width: 200px;
    padding: 0 0 0 10px;
    margin: 0;
    font-size: 14pt;
}

.test_button {
    background: #efefef;
    border: none;
    cursor: pointer;
    height: 30px;
    margin-left: 20px;
}

.test_button:hover {
    background-color: #dedede;
}
.test_button:focus {
    outline: none;
}

.back_button {
    background-color: rgb(156, 0, 75);
    width: 20px;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    color: white;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.test_exercise {
    width: fit-content;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-right: 50px;
    border-bottom: 1px solid #aaa;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

/*This snippet just places another empty body element over the other to create some kind of opacity*/
body::after {
  content: "";
  background: url(../images/Siegel_Universit%C3%A4t_Regensburg.gif);
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.list {
    list-style: none;
    overflow-y: auto;
}

img {
    max-height: 100%;
    width: auto
}

input {
    border: none;
    border-bottom: 2px solid #CCCCCC;
}

.grid-box {
    width: 70vw;
    height: 90vh;
    padding: 0px 15vw 0px 15vw;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 70% 10%;
    grid-template-areas: 
        "logo context"
        "helpbar playground"
        "helpbar interaction"
}

.logo {
    background: white;
    padding-left: 10px;
    grid-area: logo;
}

.context {
    position: relative;
    background: #CCCCCC;
    opacity: 0.9;
    grid-area: context;
}

.content {
    position: absolute;
    font-size: 16pt;
    margin: 5px;
}

.help_content {
    font-size: 16pt;
    margin: 5px;
}

#overallPlace {
    
}
#currentPlace {
    margin-top: 10px;
    font-style: italic;
}
#userScore {
    margin-top: 10px;
}
#userName, #userScore {
    left: 70%;
}
#currentTime {
    margin-top: 15px;
}

.userInfos {
    
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    border: 1px solid black;
}

.map {
    width: 250px;
    height: 250px;
    border: 1px solid white;
}

.borderless {
    border: none;
}

.map_element {
    background-color: white;
    border: 1px solid rgb(156, 0, 75);
    font-style: normal;
}

.help {
    background: rgb(156,0,75);
    grid-area: helpbar;
    border-bottom: 2px solid #CCCCCC;
    padding: 20px;
    overflow-y: scroll;
}

summary {
    cursor: pointer;
}
summary:focus {
    outline: none;
}

.playground {
    position: relative;
    grid-area: playground;
    background-color: white;
    padding: 10px 3px 10px 10px;
}

.shadow {
    box-shadow: inset 0px 3px 8px 0px #555;
}

#messageBoard {
    display: block;
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.messageLayout {
    margin: 10px 30px 0px 10px;
    font-size: 12pt;
}

video {
    height: 300px;
}

#messageUser {
    color: gray;
    margin-right: 5px;
}

.interaction {
    grid-area: interaction;
    background-color: #EEEEEE;
    border-bottom: 2px solid #CCCCCC;
    height: 100%;
    padding: 0;
    margin: 0;
}

.messageInput {
    height: 100%;
    width: 75%;
    padding: 0 0 0 30px;
    margin: 0;
    background: #EEEEEE;
    font-size: 14pt;
}
.messageInput:hover {
    background: white;
    border-bottom: 2px solid #EEEEEE;
}
.messageInput:focus {
    background: white;
    border-bottom: 2px solid #EEEEEE;
    outline: none;
}

#clickMeButton {
    background-color: rgb(156, 0, 75);
    color: white;
    font-size: 14pt;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 15%;
    cursor: pointer;
    border: none;
    float: right;
}
#clickMeButton:hover {
    background-color: rgb(176, 20, 95);
}
#clickMeButton:focus {
    outline: none;
}